NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_WALRUS_PUBLISHER_URL=https://publisher.walrus-testnet.walrus.space
NEXT_PUBLIC_WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Deployed counter Move package + the shared object created on testnet.
# Populate after running `pnpm cli publish move/counter` and creating a counter.
NEXT_PUBLIC_COUNTER_PACKAGE_ID=
NEXT_PUBLIC_COUNTER_OBJECT_ID=
